body {
    text-align: center;
}
h1 {
    font-size: 40px;
    font-family: fantasy;
    font-weight: Bold;
}
.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
#apps {
    width: 100%;
    height: 800px;
    background-color: lightgoldenrodyellow;
}
#games {
    width: 100%;
    height: 800px;
    background-color: royalblue;
}
img:hover {
   transform: scale(0.9); 
}
img {
    height: 550px;
    transition : transform .2s ;
    margin: 10px;
    
}
#chatbot {
    width: 100%;
    height: 800px;
    background-color: seagreen;
}
#hobbies {
    font-family: fantasy;
    font-size: 15px;
}
#enjoy {
    font: bold;
    font-size: 30px;
    font-family: fantasy;
}
#hobbies {
    background-color: orange;
}


